// moble and table css
@media screen and (max-width:768px) {
    .nav {
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        padding: 10px;
        .logo {
            &__svg {
                width: 50px;
                height: 50px;
            }
        }

        &_list {
            padding: 0;
            margin: 0;
            &__item {
                margin-left: 10px;
                &__icon {
                    background-color: rgb(237, 234, 234);
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    padding: 8px;
                }
            }
        }

        .toggle{
            position: relative;
            &__menu{
                position: absolute;
                z-index: 1000!important;
                top: 50px;
                right: 0;
                width: 80vw;
                height: 50vh;
                background-color: white;
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                border-radius: 10px;
                padding: 20px;
                &__item{
                    margin: 5px;
                    &__link{
                        &__icon{
                            margin: 10px;
                            border-radius: 50%;
                            padding: 5px;
                            width: 40px;
                            height: 40px;
                            background-color: rgb(237, 234, 234);
                        }
                    }
                }
            }
        }
    }
}


// desktop css
@media screen and (min-width:768px) {
    nav {
        width: 100vh;
        height: 10vh;
        background-color: black;
    }
}